<html>
    <head>
        <title>Why Bullying?</title>
        <link rel="stylesheet" href="../static/css/style.css">

    </head>
    <body>
        <h1>STOP THE BULLYING</h1>
        <h2>HATERS DON'T REALLY HATE YOU</h2>
        
    <div class="quote1">
        <h3>

THEY HATE THEMSELVES</h3>

<h3>BECAUSE YOU’RE A REFLECTION OF WHAT THEY WISH 

TO BE 
</h3>


<div class="grid-container">
  <div class="header">
    <h2>Header</h2>
  </div>
  
  <div class="left" style="background-color:#aaa; text-align: center;">Verbal Bullying
    <div class="col order-5">
        11 years old boy got verbally abused by school yellow bus driver and fellow students.
        <ul>
            <li>
                calling with very bad cursing words;
                Did the same thing everytime he rode the bus.
            </li>
        </ul>
        Consequence:
        Hanged himself from his bunk bed.
        
    </div>
</div>
  <div class="middle" style="background-color:#bbb; text-align: center;">Physical Bullying
    <div class="col order-5">
        A high school senior was physically bullied for most of her high school years.
        Things like:
        <ul>
            <li>
              Calling her Nerd,
              Throwing foods and pouring milk on her,
              Threatened her they will beat her up if she tell anyone,
              Beating her sometimes.
            </li>
        </ul>
        Consequence:
      She was stuck with painful memories. She changed school But it affected her mental state at the point she couldn't focus at school. 
    </div>
</div> 

  <div class="right" style="background-color:#ccc; text-align: center;">Cyber Bullying
    <div class="col order-5">
        A 10 yrs old Ashlynn Conner was bullied so much that she begged her mom to homeschool her.
        They called her "FAT", "UGLY", and even WORD she didn't know meaning to. 
        Consequence:
        She ended up hanging herself with a scarf in her closet.
    </div>
</div>
  
  <div class="footer">
  <p>Footer</p>
  </div>
</div>
        
        <p></p>
        <!-- <form>
            <input type="text" name="nickname" placeholder="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form> -->
    </body>
</html>
